---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { DISCONNECT_TO_CONNECT } from "@consts";

const data = (await getCollection("disconnect-to-connect"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"disconnect-to-connect">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={DISCONNECT_TO_CONNECT.TITLE} description={DISCONNECT_TO_CONNECT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate space-y-2">
          <h1 class="text-2xl font-semibold tracking-wide text-black dark:text-white">
            Disconnect to Connect
          </h1>
          <p class="text-sm opacity-75">{DISCONNECT_TO_CONNECT.DESCRIPTION}</p>
        </div>
        <div class="space-y-4">
          {
            years.map((year) => (
              <section class="animate space-y-4">
                <div class="font-semibold text-black dark:text-white">
                  {year}
                </div>
                <ul class="not-prose flex flex-col gap-4">
                  {posts[year].map((post) => (
                    <li>
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </section>
            ))
          }
        </div>
      </div>
    </aside>
  </Container>
</Layout>
